.layoutcontainer{
    display: flex;
    width: 100vw;
    height: 1080px    ;
    overflow: hidden;
    font-family:Roboto Mono;
}
.sidebarcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:15%;
}
.bodypartcontainer{
    width: 85%;
    background-color: black;
}
.sidebarlogo{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 30px;

}
.sidebarlogo>img{
    width:86px ;
    height:86px;
    border: 3px solid white;
    border-radius: 50%;
    margin-bottom: 5px;
}
.sidebarlogo>button{
width: 135px;
height: 33.75px;
border-radius: 20px;
background: black;
color: white;
}
.sidebaroption{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
}

.sidebaroption>p,.sidebarbottom>p{
    display: flex;
    width: 100%;
    align-items:center;
    height:50px;
    color: gray;
    padding-left:20px;
    margin:15px;
}
.sidebaroption>p:hover,.sidebarbottom>p:hover{
border-left:5px solid #7CB8F7;
color:#7CB8F7 ;
 box-shadow: #7CB8F7 0 0 0px !important;
}
.sidebaroption>p>i,.sidebarbottom>p>i{
    padding:0px 10px;
}
.sidebaroption>button{
    height: 60px;
    width:190px;box-shadow: .1rem .1rem .5rem #7CB8F7;
    background-color: #7CB8F7;
    border-radius: 6px;
    border: 0px;
    font-size: 1rem ;
    outline:0px;
    color: white;
    margin-left:20px;
    margin-top: 20px;
    transition: all .2s ease-in-out;
}
.sidebaroption>button:hover{
transform: scale(1.05);
}
/* .sidebarbottom{
} */
.gamecardConatiner{
    height:400px;
    overflow-y:scroll;
}
.bodypartbox{
    height:75% !important;
    background: black;
}
.bodypartbox>p{
color: white;
margin-left: 10px;
font-size: 2rem;
}
.gamecardConatiner{
    display: flex;
    flex-wrap: wrap;
overflow-y: scroll;
height: 80%;
}
.gamecardConatiner::-webkit-scrollbar {
    width: 10px;
    border-radius:10px;
  }
  
  /* Track */
  .gamecardConatiner::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius:10px;
  }
   
  /* Handle */
  .gamecardConatiner::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius:20px;
  }
  .gamecardConatiner::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.gamecardbox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    width: 354px;
    height: 354px;
    border-radius: 15px;
    background: white;
    margin: 10px;
    padding: 20px;
}
.gamecardboxtop{
    width: 100%;
}
.gamecardboxtop>p{
   font-family:Roboto Mono ; 
font-weight: 700;
font-style: normal;
font-size: 35.4px;
line-height: 41.3px;
margin: 5px;
}
.gamecardboxbotton{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gamecardboxbotton>img{
    height: 52.06px;
    border-radius: 50%;
}
.gamecardboxbotton>button{
    height: 52.06px;
    width: 130.15px;
    color: white;
    border-radius: 10px;
    font-size:1.5rem ;
    background-color: black;
}
.bodypartchat{
    width: 100%;
    height: 260px;
    background-color: white;

}
.bodypartchat>p{
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem ;
}
.chatbox{
    display: flex;
    width: 100%;
    height: max-content;
    flex-direction: column;
    align-items: flex-start;
box-shadow: .1rem .1rem .5rem gray;
}
.chatbox>p{
    display: flex;
 width: 100%;
    margin:10px;
    padding:0px;
    align-items: center;
    line-height:20px;
}

.chatbox>p>img{
   width:32px; 
   height:32px;
   border-radius:50%;
   margin: 0px 10px;
}
.chatbox>input{
    width:98%;
    height:20px;
    padding:10px ;
    outline: none;
    border: 1px ;
}
.settingpopup{
    display: flex;
    flex-direction: column !important;
    font-family: Roboto Mono;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:30%;
    left:30%;
    height: 400px;
    width: 703px;
    background-color: white;
    border-radius: 20px;
    box-shadow: .1rem .1rem .5rem gray;
}
.settingpopup>p{
font-size:2rem;
font-weight: bolder;
margin-left: 40%;
}
.settingpopup>small{
    margin-left:20%;
    font-weight: bold;
    font-size: 24px;
    line-height:40px;
    letter-spacing:2px;
}
.settingpopup>button,.gamepopup>button{
width:133px;
Height :42.7px;
margin-top: 100px;
margin-left:40%;
border-radius: 15px;
font-size: 1.5rem ;
background-color: black;
color:white;

}
.gamepopup>p{
    font-size:2rem;
    font-weight: bolder;
    margin-left: 10%;
}
.gamepopup{
    display: flex;
    flex-direction: column !important;
    font-family: Roboto Mono;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:30%;
    left:30%;
    height: 400px;
    width: 703px;
    background-color: white !important;
    border-radius: 20px;
    box-shadow: .1rem .1rem .5rem gray;
}
.gamepopup>small{
    margin-left:10%;
    font-weight: bold;
    font-size: 24px;
    line-height:40px;
    letter-spacing:2px;
}
.gameinput>input{
    width:363px;
    Height:27px;
    border: 0px;
    outline:0px;
    background-color: rgb(223, 216, 216);
}
.radiobtnbox{
    display: flex;
    width: 100%;
    font-weight: bold;
    margin-left: 10%;
    height: max-content;
    font-size:16px;
    line-height:40px;
    align-items: center;
}
/* ///for discord baby// */

.discordContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family:Roboto Mono ; 
}
.discordContainer>p{
    font-family:Roboto Mono ;  
font-weight:700;
font-family: normal;
font-size: 50px; 
line-height: 65.94px;
color: white;
margin:20px;
margin-top: 50px;
}
.discordContainer>small{
color: white;
margin: 0px;
padding-left: 10px;
font-size: 1.3rem;

}
.cardContainer{
    width: 100%;
    margin-top:210px;
}
.cardContainer>p{
    font-size: 2rem ;
    font-weight: bold;
    color: white;
    margin-bottom:1px;
}
.cardbox{
    display: flex;
    width:100% !important;
    height:max-content; 
 overflow-x: hidden; 
 overflow-y: hidden;
 margin-top: 10px;

}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    background: white;
   width:230.92px;
    height :175.92px;
margin:5px 10px;
border-radius:10px;
}
.cards>p{
    padding: 10px;
    text-align: center;
}
  .homepage{
      position: absolute;
      height:100vh;
      width: 100vw;
      background-color: white;
  }
